.card1 {
    display: flexbox;
    height: 117px;
    width: 204px;
    border-radius: 20px;
    background-color: #2b788b;
    color: white;
    margin-right: 30px;
    margin-top: 20px;
}

.text1_1 {
    position: relative;
    left: 18px;
    top: 7px;
    font-size: 20px;
}

.text1_2 {
    position: relative;
    left: 25px;
    top: 25px;
    font-size: 45px;
}

.card2 {
    overflow: hidden;
    display: flex;
    height: 100px;
    width: 136px;
    border-radius: 10px;
    background-color: #454545;
    color: white;
}

.card2_1 {
    display: flex;
    height: 30px;
    width: 136px;
    position: relative;
    top: 70px;
    background-color: #d9d9d9;
    color: black;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text2_1 {
    position: relative;
    left: 15px;
    bottom: 65px;
    font-size: 14px;
    color: white;
}

.text2_2 {
    position: absolute;
    right: 17px;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.img2 {
    position: relative;
    right: 3px;
    bottom: 1px;
}

.table1_1 {
    height: 550px;
    width: 224px;
    border-radius: 20px;
    display: flexbox;
    background-color: white;
}

.table1_2 {
    height: 35px;
    width: 224px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table1_3 {
    position: relative;
    bottom: 0px;
    height: 515px;
    width: 224px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #efefef;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5px;
    padding-bottom: 5px;
}
